/* line no 1 to 52 Navbar css */
.active{
    color:#0000FF;
}

.logo{
    width:120px;
    height:120px;
    margin-left: 60px;
}
.Photo{
    width:750px;
    height:750px;
    margin-left: 200px;
    
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:white;
    color: black; 
    font-color:black;
    top: 0;
}
nav .title {
    font-size: 1.5rem;
    margin: 1.3rem;
    padding:0.5rem;
    font-weight: bold;
    text-decoration: none;
    color: black;
}
nav ul {
    display: flex;
    margin-right: 60px; 
}
nav ul li {
    font-size: 1.3rem;
    color: black;
    list-style: none;
    margin: 0.5rem;
}
nav ul li a {
    text-decoration: none;
    padding: 0.5rem;
    margin: 0 0.3rem;
    color: black;
}
nav ul li a:not(.active):hover {
    color:#0000FF;
}
li a.login {
    border: 2px solid blue; 
    padding: 10px 25px; 
    border-radius: 25px; 
    color: black; 
}
li a.login:hover {
    color: blue; 
}
li a.login.active {
    background-color: blue; 
    color: white; 
}
/* line no 53 to 55 error page css */
.page{
    width:600px;
    hight:600px;
    margin-left:360px;
}
.text{
    margin-left:470px;
}


